[submodule "poky"]
	path = repos/poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "repos/meta-virtualization"]
	path = repos/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = kirkstone
[submodule "repos/meta-tegra"]
	path = repos/meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
	branch = kirkstone
[submodule "repos/meta-tegra-community"]
	path = repos/meta-tegra-community
	url = https://github.com/OE4T/meta-tegra-community
	branch = kirkstone
[submodule "repos/meta-ros"]
	path = repos/meta-ros
	url = https://github.com/vmayoral/meta-ros.git
	branch = honister-humble
[submodule "repos/meta-python2"]
	path = repos/meta-python2
	url = https://github.com/YoeDistro/meta-python2.git
	branch = kirkstone
[submodule "repos/meta-myros"]
	path = repos/meta-myros
	url = https://github.com/zffgithub/meta-ros
	branch = main
[submodule "repos/meta-isaac"]
	path = repos/meta-isaac
	url = https://github.com/zffgithub/meta-isaac.git
	branch = main
