# Version of layers configuration, specific to
# each defined distro in the repository.
# Format: ${DISTRO}-<version>
TD_BBLAYERS_CONF_VERSION = "tegrademo-5"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-tegra \
  ##OEROOT##/meta-oe \
  ##OEROOT##/meta-python \
  ##OEROOT##/meta-networking \
  ##OEROOT##/meta-filesystems \
  ##OEROOT##/meta-virtualization \
  ##OEROOT##/meta-tegra-community \
  ##OEROOT##/meta-tegra-support \
  ##OEROOT##/meta-demo-ci \
  ##OEROOT##/meta-tegrademo \
  ##OEROOT##/meta-ros/meta-ros2-humble \
  ##OEROOT##/meta-ros/meta-ros2 \
  ##OEROOT##/meta-ros/meta-ros-common \
  ##OEROOT##/meta-ros/meta-ros-python2 \
  ##OEROOT##/meta-python2 \
  "

BBFILE_PRIORITY_ros2-humble-layer:forcevariable = "39"
BBFILE_PRIORITY_ros2-layer:forcevariable = "38"
BBFILE_PRIORITY_ros-common-layer:forcevariable = "37"
BBFILE_PRIORITY_meta-python:forcevariable = "13"

LAYERSERIES_COMPAT_ros2-humble-layer:append = " kirkstone"
LAYERSERIES_COMPAT_ros2-layer:append = " kirkstone"
LAYERSERIES_COMPAT_ros-common-layer:append = " kirkstone"
LAYERSERIES_COMPAT_ros-python2:append = " kirkstone"
LAYERSERIES_COMPAT_meta-python2:append = " kirkstone"